.mainHeader {
    width: 100%;
    text-align: center;
}

.mainHeader > img {
    disply: inline-block;
    margin: 0 auto;
}

.userId {
    font-weight: bold;
}

.userMessage {
    font-size: small;
    color: grey;
    margin-top: 5px;
}

.userSNSInfo {
    font-size: small;
    color: grey;
    margin-top: 5px;
    margin-right: 35px;
}

.userSNSInfo > li {
    display: inline-block;
    margin: 0 0.5rem;
    text-align: center;
}

.count {
    color: #6dc430;
}

.globalNav {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.globalNav > .tab {
    list-style: none;
    border : 1px solid grey;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.globalNav > .tab > span {
    text-decoration: none;
    display: block;
    width: 174px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}

.globalNav > div > span:hover {
    color: white;
    background-color: #f89e82;
    border-color: #f89e82;
}

.eleDisplayShow {
    padding-top: 60px;
    text-align: center;
}

.myName {
    padding-top: 50px;
    font-size: large;
    font-weight: bold;
}

.myDesc {
    font-size: small;
    word-spacing: 2px;
    line-height: 25px;
}

.selectedTab {
    color: white;
    background-color: #f89e82;
    border-color: #f89e82;
}